@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Grid+Double:wght@100..900&family=Bungee+Spice&family=Changa+One:ital@0;1&family=DynaPuff:wght@400..700&family=Oswald:wght@200..700&display=swap');
   
   
body{
    background-color:grey ;
    margin: 60px;

}
.text{
  text-align: center;
  

}
.image-container {
    display: flex;
    justify-content:center ;   
}
.top-bar {
    background-color: #333;
    color: white;
    padding: 15px 0;
    position: fixed;     
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;      
}

.top-bar nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-bar nav li {
    margin: 0 20px;
}

.top-bar nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.top-bar nav a:hover {
    background-color: #555;
}
main{
    display: flex;
    justify-items: end;
    align-items: end;
}
.next-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s;
}

.next-btn:hover {
  background-color: #0056b3;
}

h1{
    text-align: center;
}
p{
    font-size: xx-large;
}