@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Grid+Double:wght@100..900&family=Bungee+Spice&family=Changa+One:ital@0;1&family=DynaPuff:wght@400..700&family=Oswald:wght@200..700&display=swap');
   
   
body{
    background-color:grey ;

}
h1{
  
}